.btn-color,
.btn-color:hover,
.btn-color:focus,
.btn-color:active {
  background-color: #f49702;
}

.btn-color2 {
    color:#f49702;
}

.navbar-divider {
    border-bottom: 1px solid black;
  }

.logo-img {
  width: 150px;
}
  
  
