.notification-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .notification-title {
    font-size: 24px;
    text-align: left;
  }
  .notification-message {
    text-align: left;
  }
  .notification-date {
    text-align: left;
  }