html {
  overflow-y: scroll;
}

.product-detailimage {
  width: 200px;
  height: 100%;
  border-radius: 10%;
  margin-top: 20px;
}

.div-style {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
  margin-top: 20px;
  object-fit: contain;
  height: 200px;
  width: 100%;
}

.workshop-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px; /* Adjust the margin as needed */
}

.input-space {
  width: 16px; /* Adjust the width of the space as needed */
}

@media (max-width: 576px) {
  .workshop-card {
    display: flex;
    flex-direction: row;
  }

  .workshop-image {
    width: 200px;
    height: 150px;
    border-radius: 0;
  }

  .card-body {
    flex: 1;
    padding: 1rem;
  }

}

.button-quantity {
  background-color: #f49702;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.quantity-span {
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
}

